@model DatosAlumnos
@{
    ViewData["Title"] = "Eliminar";
    int Posicion = 0;
    int count = 0;
}
<h1>Eliminar Alumno </h1>

<div class="col-6 ">
    <h5 class="text-primary">Selecciona el alumno</h5>
    <form method="post">
        <select name="opciones" class="form-control">
            <option>Seleccionar</option>
            @foreach (var Data in Model.Alumnos)
            {
                <option value="@Data.ID">@Data.ID) @Data.NOMBRE</option>

                @(count++);

            }
        </select>
        <br />

        <div class="text-md-left">
            <button class="btn btn-info" type="submit">Cargar Detalles</button>
        </div>
    </form>
</div>

<br />

@ViewBag.Count
<div class="row">
    <div class="col-6 formulario">
        <form method="post" role="form">
            <div class="form-group">
                <h5>Codigo</h5>
                <input id="ID" asp-for="IDSelected" class="form-control" value="@ViewData["Codigo"]" readonly required />
            </div>
            <div class="form-group">
                <h5>Nombre</h5>
                <input class="form-control" value="@ViewData["Nombre"]" readonly Required />
            </div>
            <div class="form-group">
                <h5>Cedula</h5>
                <input value="@ViewData["Cedula"]" class="form-control input" maxlength="14" id="phone" placeholder="000-0000000-0" pattern="[0-9]{3}[ -][0-9]{3}[ -][0-9]{4}" title="Formato: 000-0000000-0" readonly required />
            </div>
            <div class="form-group">
                <h5>Fecha de Vencimiento</h5>
                <input class="form-control" value="@ViewData["FechaNac"]" type="date" readonly Required />
            </div>
            <div class="form-group">
                <h5>Codigo de Maestria</h5>
                <input class="form-control" value="@ViewData["IDMaestria"]" readonly Required />
            </div>

            <button type="submit" name="Delete" value="delete" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>

