@model Universidades
@{
    DatosUniversidad universidad = new DatosUniversidad();
    ViewData["Title"] = "Editar Universidad";
    int i = 0;
}
<h1>Modificar Universidad </h1>
<div class="col-6 ">
    <h5 class="text-primary">Selecciona la universidad</h5>
    <form method="post">
        <select name="opciones" class="form-control">
            <option>Seleccionar</option>
            @foreach (var Data in universidad.Universidades)
            {

                <option value="@Data.ID"> @Data.ID) @Data.NOMBRE</option>
                @(i++)
            }
        </select>
        <br />
        <div class="text-md-left">
            <button class="btn btn-info" type="submit">Cargar Detalles</button>
        </div>
    </form>
</div>
<br />
<div class="row">
    <div class="col-6 formulario">
        <form method="post" role="form">
            <div class="form-group">
                <h5>ID</h5>
                <input id="ID" asp-for="ID" class="form-control" value="@ViewData["Codigo"]" readonly required />
            </div>
            <div class="form-group">
                <h5>Nombre</h5>
                <input class="form-control" asp-for="NOMBRE" value="@ViewData["Nombre"]" Required />
            </div>
            
            <button type="submit" name="Save" value="save" class="btn btn-success">Guardar Cambios</button>
        </form>
    </div>


</div>

